@import "./styles/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include textStyle("Roboto", sans-serif, 1rem, normal, 1, $black);
  @include viewPort;
  @include flexboxColumn;
}

#root {
  height: 100%;
  width: 100%;
}
